.container {
  background-color: black;
}

.content {
  width: 1108px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 72px 0px;
}

.link {
  color: #9e9aa8;
  font-size: 18px;
}

.link:hover {
    cursor: pointer;
  color: white;
  transition: 0.3s ease;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  gap: 100px;
}

.links {
  display: flex;
  gap: 40px;
}

.socials {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.navList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img {
    margin-top: -170px;
}